/* HEADER*/
*{
    margin:0;
    padding: 0;
}
header{
    background-color: rgba(10, 14, 29);
    padding-top: 2%;

}
header h1{
    text-align: center;
    font-size:xxx-large ;
    margin-top: 4vh;
    padding-bottom: 5vh;
    font-weight: 900;
    color: orange;
}
header span{
    font-size:medium;
    color: yellowgreen
}

/* MAIN CONTENT */
#form{
    margin-top:1%;
    display: flex;
    justify-content: center;
}
#form input{
    padding: 10px;
    width: 30%;
}
#form button{
    background-color: orange;
    padding: 8px;
    border-radius: 5px;
}

/* SLIDING IMAGES */
#slider-images{
    overflow: hidden;
}
.slides img{
    height:800px;
    width: 100%;
}
#slider-images figure div{
    float: left;
    width: 20%;
}
#slider-images figure img{
    width:40%;
    height:50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}
#slider-images figure{
    position:relative;
    width: 500%;
    margin-left:30%;
    animation:animate 20s infinite;
}
.slides p{
    position: fixed;
    text-align: center;
    color: white;
    font-size: x-large;
    padding-left: 10%;
}

@keyframes animate{
    0%{left:0}
    10%{left:0}
    12%{left:0}
    20%{left:-100%}
    30%{left:-100%}
    40%{left:-200%}
    50%{left:-200%}
    60%{left:-300%}
    70%{left:-300%}
    80%{left:-400%}
    96%{left:-400%}
    100%{left:-0%}
}