/* HEADER*/
*{
    margin:0;
    padding: 0;
}
header{
    background-color: rgba(10, 14, 29);
    padding-top: 2%;

}
header h1{
    text-align: center;
    font-size:xxx-large ;
    margin-top: 4vh;
    padding-bottom: 5vh;
    font-weight: 900;
    color: orange;
}
header span{
    font-size:medium;
    color: yellowgreen
}

/*  */
#container{
    background:rgba(0, 0, 0, 0.8)url('../images/Party-Rave.jpg');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;

}
/* MAIN CONTENT */
#form{
    margin-bottom:1%;
    display: flex;
    justify-content: center;
}
#form input{
    padding: 10px 40px;
    width: 30%;
    border: none;
    outline: none;
}
#form button{
    background-color: orange;
    padding: 8px 10px;
    border-radius: 5px;
}

/* SLIDING IMAGES */
figure{
    margin-top: 2%;
    margin-bottom: 25%;
}
#slider-images{
    overflow: hidden;
}
#slider-images p{
    color: white;
    text-align: center;
    font-size: larger;
}
#slider-images p span{
    color: orange;
    font-size: larger;
}
#slider-images figure div{
    float: left;
    width: 20%;
}
#slider-images figure img{
    width:20%;
    height:50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    border-radius: 10%;
}
#slider-images figure{
    position:relative;
    width: 500%;
    margin-left:40%;
    animation:animate 20s infinite;
}
figure .slides p{
    position: fixed;
    text-align:center;
    color: green;
    background-color: orange;
    font-size: xx-large;
    padding: 8px;
    font-weight: 800;
    text-shadow: 4px 6px 7px;
}
@keyframes animate{
    0%{left:0}
    10%{left:0}
    18%{left:0}
    27%{left:-100%}
    34%{left:-100%}
    45%{left:-200%}
    50%{left:-200%}
    58%{left:-300%}
    67%{left:-300%}
    78%{left:-400%}
    86%{left:-400%}
    94%{right:0%}
    98%{right:0%}
}

/* SECTION PART */
section{
    color: white;
    margin-top: 5%;
    text-align: center;
}

/* More Buttons */
.btn {
    padding: 4px;
    background-color: yellowgreen;
}


/* Footer */
#footer{
    background-color: rgb(10, 14, 29);
    color: white;
    /* margin-top: 20px; */
}
#feedback{
    width: 100%;
    padding: 2% 50% 0% 42%;
}
#feedback button{
    
}
#footer span{
    color:orange;
    font-size: x-large;
}

#footer h2{
    font-family: 'Franklin Gothic Medium';
    font-size: larger;
    text-align: center;
}
