/* HEADER*/
*{
    margin:0;
    padding: 0;
}
header{
    background-color: rgba(10, 14, 29);
    padding-top: 2%;

}
header h1{
    text-align: center;
    font-size:xxx-large ;
    margin-top: 4vh;
    padding-bottom: 5vh;
    font-weight: 900;
    color: orange;
}
header span{
    font-size:medium;
    color: yellowgreen
}

/* MAIN CONTENT */
#form{
    margin-top:0%;
    display: flex;
    justify-content: center;
}
#form input{
    padding: 10px;
    width: 30%;
}
#form button{
    background-color: orange;
    padding: 8px;
    border-radius: 5px;
}
